body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../img/gago1.jpg");
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 300px;
    height: 400px;
    border: 1px solid red;
}

.pedal{
    display:flex;
}

.choir{
    display: flex;
}

.great{
    display:flex;
}

.swell{
    display:flex;
}

.solo{
    display:flex;
}

.white{
    width: 15px;
    height: 45px;
    border: 1px solid #333;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.black{
    width: 6px;
    height: 32.5px;
    background-color: black;
    margin-left: -6.25px;
    margin-right: -6.25px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
}

.organ-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
}

.stops-right{
    transform: translateX(-270px); /* move to the left */
    
}

.stops-left{
    transform: translateX(270px); /* move to the right */
}

.stops{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stop {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
  box-shadow: inset -3px -3px 6px rgba(0,0,0,0.3);
  transition: 0.2s;
}

.stop.active {
  background: radial-gradient(circle at center, #ffcc00 20%, #ffaa00 100%);
  box-shadow: 0 0 15px #ffcc00, inset -2px -2px 6px rgba(0,0,0,0.3);
  transform: scale(1.05);
}

.stop:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
}

.manual {
  background-color: #888;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  box-shadow: inset -2px -2px 4px rgba(0,0,0,0.3);
}

.key.active {
  background-color: lightgray; /* light up when pressed */
  box-shadow: 0 0 10px lightgray;
}

.manual {
  position: relative;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.manual {
  position: relative;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.key {
  width: 30px;
  height: 120px;
  margin: 1px;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.1s ease;
}

.key.white {
  background-color: white;
  z-index: 1;
}

.key.black {
  background-color: black;
  width: 20px;
  height: 80px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 2;
  position: relative;
}